
#navbar{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color:  rgb(61, 61, 68);
    margin-bottom:50px ;
}
a{
    text-decoration: none;
    color: white;
}

#priority-status{
    width: 83%;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 10%;
    background-color: rgb(80, 76, 76);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#priority-filter{
    border: none;
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    font-size: medium;
    border-radius: 4px;
}
#status-filter{
    border: none;
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    font-size: medium;
    border-radius: 4px;
}

#added-items{
    display: flex;
    width: 85%;
    column-gap: 10px;
    margin: auto;
    padding: 10px;
}
#box{
    width: 30%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


